.header {
  width: 100vw;
  height: 100px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0px; }
  .header_order {
    font-size: 24px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
    text-decoration: none;
    border-bottom: 3px solid #c4222a;
    margin-right: 30px;
    line-height: 0.9; }
    @media (max-width: 1280px) {
      .header_order {
        display: none; } }
  .header_button {
    float: right;
    line-height: 100px;
    padding: 28px 0;
    margin-right: 30px; }
    .header_button button {
      float: left;
      margin-right: 30px;
      font-size: 18px;
      width: 147px;
      height: 44px;
      border-radius: 70px;
      color: #fff;
      -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 145, 255, 0.25);
      box-shadow: 2px 2px 4px 0 rgba(0, 145, 255, 0.25);
      cursor: pointer;
      border: none; }
  .header_logo {
    height: 50px;
    padding: 25px 25px 25px;
    position: relative; }
  .header_login {
    background-color: #ff7100; }
    .header_login:hover {
      background-color: #db6300; }
  .header_signup {
    background-color: #f5a623;
    right: 50px; }
    .header_signup:active {
      outline: none;
      border: none; }
    .header_signup:hover {
      background-color: #df8a03; }

nav a {
  color: inherit;
  text-decoration: none; }

nav > ul {
  list-style: none;
  display: inline-block;
  margin-left: 0; }
  nav > ul > li {
    display: inline-block;
    padding: 15px; }

.banner {
  height: 474px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/pizza.jpg);
  position: relative; }
  .banner_text h3 {
    position: absolute;
    height: 70px;
    color: #000;
    font-weight: 400;
    top: 104px;
    left: 18vw;
    font-size: 50px; }
  .banner_text input[type=text] {
    padding-left: 21px;
    font-size: 21px; }

.label_img {
  position: absolute;
  left: 60vw;
  top: 245px;
  cursor: pointer; }

.label_searchbox {
  width: 44.5vw;
  height: 70px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #fff;
  position: absolute;
  left: 18vw;
  top: 224px;
  margin-right: 5vw; }
  .label_searchbox::-webkit-input-placeholder {
    font-size: 21px;
    letter-spacing: -0.42px;
    color: #949494;
    padding-top: 21px; }
  .label_searchbox:-ms-input-placeholder {
    font-size: 21px;
    letter-spacing: -0.42px;
    color: #949494;
    padding-top: 21px; }
  .label_searchbox::-ms-input-placeholder {
    font-size: 21px;
    letter-spacing: -0.42px;
    color: #949494;
    padding-top: 21px; }
  .label_searchbox::placeholder {
    font-size: 21px;
    letter-spacing: -0.42px;
    color: #949494;
    padding-top: 21px; }

.label_button {
  left: 61vw;
  margin-left: 70px;
  top: 224px;
  position: relative;
  width: 12.8vw;
  height: 70px;
  border-radius: 6px;
  border: solid 1px #979797;
  background: #c4222a;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  border: none;
  outline-offset: none; }
  .label_button:hover {
    background-color: #a01a21; }

.intro_banner {
  height: 640px;
  background-color: #ffdc7d;
  padding-left: 340px; }
  .intro_banner p {
    left: 340px;
    padding-top: 119px;
    font-weight: 600;
    width: 450px;
    height: 61px;
    font-size: 43px; }
  .intro_banner h3 {
    width: 360px;
    height: 168px;
    font-family: PingFangTC;
    font-size: 60px;
    font-weight: 300; }
  .intro_banner .little {
    height: 84px; }
  .intro_banner .banner_button {
    width: 468px;
    height: 100px;
    border-radius: 12px;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(167, 40, 40, 0.52);
    box-shadow: 2px 2px 10px 0 rgba(167, 40, 40, 0.52);
    background-color: #dc3c3c;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    outline: none; }
    .intro_banner .banner_button:hover {
      background-color: #ac2e2e;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }

.product-banner {
  width: 100vw; }
  .product-banner-main img {
    width: 100%;
    height: 588px;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden; }
  .product-banner-orderbox {
    width: 753px;
    height: 173px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    margin: auto;
    z-index: 100;
    position: absolute;
    top: 601.5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .product-banner-orderbox p {
      height: 42px;
      padding: 17px 0 15px 0;
      font-size: 30px;
      font-weight: 600;
      text-align: center; }
    .product-banner-orderbox button {
      width: 573px;
      height: 62px;
      border-radius: 6px;
      border: solid 1px #979797;
      background-color: #dd5827;
      font-size: 26px;
      font-weight: 600;
      color: #fff;
      margin-left: 90px;
      cursor: pointer; }
      .product-banner-orderbox button:hover {
        background-color: #c53703;
        -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.57);
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
  .product-banner-under {
    position: relative;
    top: -5px;
    height: 588px;
    background-color: #ffeaae;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d9a716' fill-opacity='0.29'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
    .product-banner-under-wrap {
      width: 62vw;
      height: 366px;
      padding-top: 149px;
      margin: auto; }
      .product-banner-under-wrap-menu {
        width: 29%;
        height: 366px;
        -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.22);
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.22);
        background-color: #ffffff;
        float: left;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .product-banner-under-wrap-menu:not(:last-child) {
          margin-right: 5.8%; }
        @media (max-width: 1280px) {
          .product-banner-under-wrap-menu {
            height: 300px; } }
        .product-banner-under-wrap-menu:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
        .product-banner-under-wrap-menu img {
          width: 100%;
          background-color: #979797;
          height: 240px; }
          @media (max-width: 1280px) {
            .product-banner-under-wrap-menu img {
              height: 200px; } }
        .product-banner-under-wrap-menu h5 {
          font-family: LucidaGrande;
          font-size: 25px;
          font-weight: bold;
          padding: 17px 0 0 14px; }
          @media (max-width: 1280px) {
            .product-banner-under-wrap-menu h5 {
              font-size: 20px; } }
        .product-banner-under-wrap-menu p {
          padding: 0 14px 15px 0;
          float: right;
          font-family: LucidaGrande;
          font-size: 25px;
          font-weight: bold; }
          @media (max-width: 1280px) {
            .product-banner-under-wrap-menu p {
              font-size: 20px; } }

.header-store-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px; }
  .header-store-header-logo {
    margin-left: 3rem;
    height: 67px; }
  .header-store-header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-right: 3rem; }
    .header-store-header-link button {
      padding: 0 20px;
      border: none;
      height: 100%;
      font-family: LucidaGrande;
      font-size: 25px;
      text-align: right;
      color: #dd5827;
      cursor: pointer; }
      .header-store-header-link button:focus {
        outline: none; }
    .header-store-header-link > *:hover {
      color: #fff; }
      .header-store-header-link > *:hover:not(:last-child) {
        background-color: #dd5727da; }
    .header-store-header-link img {
      height: 60px;
      margin-left: 1.5rem;
      background-color: #fff;
      cursor: pointer; }

.sectionbar {
  width: 100vw;
  height: 85px;
  background-color: #c4222a; }
  .sectionbar_content {
    width: 70vw;
    margin-left: 17.5vw; }
    .sectionbar_content > ul {
      list-style: none;
      display: inline-block; }
      .sectionbar_content > ul > li {
        padding-top: 30px;
        padding-right: 10px;
        color: #fff;
        font-size: 17px; }
        @media (max-width: 1280px) {
          .sectionbar_content > ul > li {
            font-size: 16px; } }
    .sectionbar_content > img {
      -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
      transform: translateY(30%); }

.sectionfood {
  width: 100vw;
  height: 1195; }
  .sectionfood_text {
    width: 65vw;
    margin: 0 auto;
    height: 300px; }
    .sectionfood_text .left {
      width: 50%;
      float: left;
      font-size: 30px;
      color: #6d7278;
      margin-top: 41px; }
      @media (max-width: 1736px) {
        .sectionfood_text .left {
          font-size: 20px; } }
    .sectionfood_text.right {
      text-align: right;
      width: 50%;
      float: left;
      font-size: 30px;
      color: #c4222a;
      margin-top: 41px;
      font-family: Futura;
      text-decoration: underline; }
      .sectionfood_text.right a {
        text-decoration: underline;
        color: #c4222a; }
  .sectionfood_text p {
    font-family: PingFangTC;
    font-size: 50px;
    letter-spacing: 1px;
    color: #000000;
    padding-bottom: -20px;
    margin-top: 50px;
    line-height: 24px;
    display: block; }

.section_store {
  width: 65vw;
  margin: auto; }
  .section_store .section_store_newshortgrey {
    color: #6d7278;
    font-size: 30px;
    margin: 35px 0 24px 0; }
  .section_store .store {
    width: 19.8vw;
    height: 430px;
    float: left; }
    .section_store .store:not(:last-child) {
      margin-right: 2.5vw; }
    .section_store .store_info h1 {
      font-size: 16px;
      line-height: 25px; }
    .section_store .store_info h2 {
      font-size: 12px;
      line-height: 23px; }
    .section_store .store_info p {
      color: #6d7278;
      font-size: 14px;
      line-height: 37px; }
  .section_store .item {
    width: 100%;
    height: 242px;
    border-radius: 5px;
    background-color: #d8d8d8;
    margin: 0 0 .6vw 0;
    float: left;
    /*@include respond-phone(big-desktop){
            width: 200px;
            height:200px;
            margin-right:5px;
        }*/ }
  .section_store .deliverytime {
    width: 90px;
    height: 28px;
    border-radius: 2px;
    background-color: #f5f5f5;
    margin-right: 8px;
    font-size: 12px;
    float: left;
    text-align: center;
    line-height: 28px; }
  .section_store .stars {
    width: 90px;
    height: 28px;
    border-radius: 2px;
    background-color: #f5f5f5;
    font-size: 12px;
    float: left;
    /*&:not(:img){
            display: flex;
        }
        */ }

.sectionbar {
  width: 100vw; }
  .sectionbar_greyback {
    height: 228px;
    background-color: #444444;
    margin-top: 153px; }
  .sectionbar_redback {
    height: 257px;
    background-color: #c4222a;
    margin-top: 132px; }
  .sectionbar_content_text {
    width: 60%;
    float: left; }
    @media (max-width: 1280px) {
      .sectionbar_content_text {
        width: 500px; } }
    .sectionbar_content_text p {
      font-size: 280%;
      color: #fff;
      margin-top: 28px;
      margin-bottom: 26px;
      letter-spacing: -.9;
      font-weight: 300;
      line-height: 55px; }
      @media (max-width: 1280px) {
        .sectionbar_content_text p {
          font-size: 32px; } }

.applink {
  margin-right: 2.4vw;
  cursor: pointer;
  width: 41.5%; }
  @media (max-width: 1280px) {
    .applink {
      width: 210px;
      float: left;
      margin-right: 30px;
      padding-top: 20px; } }

.sectionbar_content_img img {
  float: left;
  margin-top: -80px; }
  @media (max-width: 1280px) {
    .sectionbar_content_img img {
      width: 350px;
      margin-top: -30px;
      margin-left: -30px;
      position: absolute; } }
  @media (max-width: 1192px) {
    .sectionbar_content_img img {
      display: none; } }

.seperateline {
  width: 100vw;
  height: 1px;
  background-color: #979797;
  margin-top: 78px; }

.section_store_special p {
  color: #6d7278;
  margin-top: 100px;
  font-size: 50px; }

.sectionbar_content_title {
  width: 70%; }
  @media (max-width: 1280px) {
    .sectionbar_content_title {
      padding-top: 30px;
      width: 610px; } }
  .sectionbar_content_title h5 {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    margin: 0 0 29px 0;
    padding-top: 26px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 1280px) {
      .sectionbar_content_title h5 {
        font-size: 34px; } }
  .sectionbar_content_title p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    float: left;
    margin-top: 0; }
    @media (max-width: 1280px) {
      .sectionbar_content_title p {
        font-size: 14px; } }
  .sectionbar_content_title button {
    width: 30%;
    height: 70px;
    -webkit-box-shadow: 5px 5px 4px 3px rgba(247, 158, 0, 0.46);
    box-shadow: 5px 5px 4px 3px rgba(247, 158, 0, 0.46);
    background-color: #f5a623;
    border: none;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-right: 28px;
    border-radius: 5px; }
    @media (max-width: 1280px) {
      .sectionbar_content_title button {
        width: 180px;
        height: 50px; } }

.sectionbar_content .onlinefood {
  width: 100%;
  margin-top: -130px; }
  @media (max-width: 1280px) {
    .sectionbar_content .onlinefood {
      width: 280px;
      margin-top: -100px; } }

.sort {
  width: 65vw;
  height: 800px;
  margin: auto; }
  .sort .section_store_newgrey {
    color: #6d7278;
    font-size: 30px;
    margin: 90px 0 24px 0; }

.box .sortfood {
  width: 20.5%;
  height: 300px;
  float: left;
  border-radius: 8px; }

.box .sortfood:not(:last-child) {
  margin: 0 6% 80px 0; }

.section_store_new .grey {
  color: #6d7278; }

.sortfood .littleimg {
  width: 100%;
  height: 80%;
  background-color: #c4222a;
  margin: 0;
  border-radius: 8px; }

.sortfood p {
  text-align: center;
  font-size: 24px;
  margin-top: 10px; }

.intro_body {
  width: 64.5vw;
  margin: auto;
  padding-bottom: 100px; }

.intro_body_one {
  width: 100%;
  height: 400px;
  position: relative;
  top: 186px;
  margin-bottom: 40px; }
  @media screen and (max-width: 1410px) {
    .intro_body_one {
      margin-bottom: 20px; } }
  .intro_body_one_text {
    width: 55%;
    float: left; }
    .intro_body_one_text h4 {
      font-size: 50px;
      font-weight: 400; }
      @media screen and (max-width: 1410px) {
        .intro_body_one_text h4 {
          font-size: 35px;
          width: 458px; } }
    .intro_body_one_text p {
      width: 490px;
      font-size: 30px;
      padding-top: 45px; }
      @media screen and (max-width: 1410px) {
        .intro_body_one_text p {
          font-size: 26px;
          width: 400px; } }
  .intro_body_one_img {
    width: 45%;
    float: left; }
    .intro_body_one_img img {
      width: 612px;
      margin-top: -150px; }
      @media screen and (max-width: 1410px) {
        .intro_body_one_img img {
          width: 412px;
          margin-top: -80px; } }

.intro_body_two {
  width: 100%;
  height: 755px;
  position: relative;
  top: 280px;
  margin-bottom: 40px; }
  .intro_body_two_sub {
    width: 46%;
    height: 400px;
    float: left; }
    .intro_body_two_sub:not(:last-child) {
      margin-right: 7%; }
    .intro_body_two_sub img {
      width: 100%;
      height: 385px; }
    .intro_body_two_sub h4 {
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 43px; }
      @media screen and (max-width: 1410px) {
        .intro_body_two_sub h4 {
          font-size: 30px; } }
      @media screen and (max-width: 1150px) {
        .intro_body_two_sub h4 {
          width: 300px; } }
    .intro_body_two_sub p {
      font-size: 24px;
      font-weight: 400;
      line-height: 2; }
      @media screen and (max-width: 1410px) {
        .intro_body_two_sub p {
          font-size: 22px; } }
      @media screen and (max-width: 1150px) {
        .intro_body_two_sub p {
          width: 300px;
          overflow: hidden; } }
    .intro_body_two_sub .littlefont p {
      font-size: 22px;
      line-height: 1.73; }
      @media screen and (max-width: 1410px) {
        .intro_body_two_sub .littlefont p {
          font-size: 20px; } }
      @media screen and (max-width: 1150px) {
        .intro_body_two_sub .littlefont p {
          width: 400px;
          overflow: hidden;
          white-space: nowrap; } }

.intro_body_three {
  width: 100%;
  height: 1000px;
  position: relative;
  top: 380px;
  margin-bottom: 300px; }
  .intro_body_three .three-title {
    width: 655px;
    margin: auto; }
  .intro_body_three h4 {
    width: 653px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-bottom: 5px solid #c4222a; }
  .intro_body_three h5 {
    width: 800px;
    color: #531a1a;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    margin: auto; }
    .intro_body_three h5:not(:last-child) {
      padding-top: 40px; }
  .intro_body_three #content {
    margin: 57px auto;
    text-align: center;
    width: 990px;
    height: 474px; }
    .intro_body_three #content .content_wrap {
      margin: 0 auto; }
      .intro_body_three #content .content_wrap .space {
        margin-top: 49px; }
    .intro_body_three #content p {
      font-weight: 400;
      line-height: 30px;
      font-size: 24px;
      letter-spacing: -0.48px; }
    .intro_body_three #content .circle {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      text-align: center;
      color: #000;
      font-size: 16px;
      margin: 0 60px;
      float: left;
      line-height: 165px;
      width: 165px;
      height: 165px;
      font-size: 50px;
      font-weight: 400; }
    .intro_body_three #content .blue {
      border: solid 10px rgba(224, 31, 31, 0.3);
      margin-top: 75px; }
    .intro_body_three #content .green {
      line-height: 240px;
      width: 240px;
      height: 240px;
      border: solid 10px rgba(245, 155, 0, 0.3);
      font-size: 70px; }
    .intro_body_three #content .red {
      border: solid 10px rgba(51, 197, 255, 0.3);
      margin-top: 75px; }

.intro_ads {
  width: 100%;
  height: 270px;
  position: relative;
  background-color: #ffdc7d; }
  .intro_ads_wrap {
    width: 64.5%;
    background-color: antiquewhite;
    margin: auto; }
    .intro_ads_wrap_text {
      width: 63%;
      float: left;
      padding-top: 41px; }
      .intro_ads_wrap_text h5 {
        font-size: 50px;
        letter-spacing: -1px;
        padding-bottom: 24px; }
        @media screen and (max-width: 1430px) {
          .intro_ads_wrap_text h5 {
            width: 450px;
            font-size: 44px;
            overflow: hidden; } }
      .intro_ads_wrap_text p {
        font-size: 29px;
        letter-spacing: -0.58px; }
        @media screen and (max-width: 1430px) {
          .intro_ads_wrap_text p {
            width: 500px;
            font-size: 27px;
            overflow: hidden; } }
    .intro_ads_wrap_img {
      width: 37%;
      float: left; }
      .intro_ads_wrap_img img {
        height: 397px;
        -o-object-fit: contain;
        object-fit: contain;
        margin-top: -130px;
        margin-left: -70px; }
        @media screen and (max-width: 1430px) {
          .intro_ads_wrap_img img {
            height: 300px;
            margin-top: -50px; } }

.intro_body_four {
  width: 100%;
  height: 581px;
  padding-top: 119px; }
  .intro_body_four_img {
    width: 48%;
    float: left;
    margin-right: 4%; }
    .intro_body_four_img img {
      width: 504px;
      height: 504px;
      -o-object-fit: fill;
      object-fit: fill;
      margin-right: 50px; }
      @media screen and (max-width: 1630px) {
        .intro_body_four_img img {
          width: 424px;
          height: 424px; } }
  .intro_body_four_text {
    width: 48%;
    float: left; }
    .intro_body_four_text h5 {
      width: 615px;
      font-size: 50px;
      letter-spacing: -1px;
      font-weight: 400;
      color: #000000; }
      @media screen and (max-width: 1630px) {
        .intro_body_four_text h5 {
          font-size: 40px; } }
      @media (max-width: 1280px) {
        .intro_body_four_text h5 {
          font-size: 32px;
          margin-left: 100px; } }
    .intro_body_four_text p {
      width: 500px;
      font-family: PingFangTC;
      font-size: 50px;
      font-weight: normal;
      letter-spacing: -1px;
      color: #000000;
      margin-top: 29px; }
      @media screen and (max-width: 1630px) {
        .intro_body_four_text p {
          font-size: 40px;
          width: 340px; } }
      @media (max-width: 1280px) {
        .intro_body_four_text p {
          font-size: 32px;
          margin-left: 100px; } }
    .intro_body_four_text button {
      display: inline-block;
      width: 180px;
      margin-top: 45px;
      color: #e02020;
      font-family: LucidaGrande;
      font-size: 30px;
      border: none;
      line-height: 1.67;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      outline: none;
      margin-left: -10px; }
      .intro_body_four_text button:hover {
        background-color: #e02020;
        border-radius: 80px;
        color: #fff;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
      .intro_body_four_text button:active {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 80px;
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px); }
      @media (max-width: 1280px) {
        .intro_body_four_text button {
          font-size: 22px;
          margin-left: 100px; } }

.product-intro {
  height: 530px;
  width: 1070px;
  margin: auto; }
  @media (max-width: 1280px) {
    .product-intro {
      width: 800px; } }
  .product-intro h5 {
    margin: auto;
    display: block;
    width: 177px;
    height: 42px;
    margin-top: 45px;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 600; }
  .product-intro-content {
    width: 100%; }
    .product-intro-content img {
      width: 519px;
      height: 329px;
      float: left; }
      @media (max-width: 1280px) {
        .product-intro-content img {
          width: 400px;
          height: 274px; } }
    .product-intro-content p {
      width: 510px;
      line-height: 1.85;
      font-size: 26px;
      color: #444444;
      margin-left: 34px;
      display: inline-block; }
      @media (max-width: 1280px) {
        .product-intro-content p {
          width: 320px;
          line-height: 1.45;
          font-size: 22px; } }

.store-map {
  width: 100%;
  height: 710px;
  background-color: #f5f5f5; }
  .store-map h5 {
    margin: auto;
    display: block;
    width: 177px;
    height: 42px;
    padding-top: 36px;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 600; }
  .store-map-content {
    width: 1120px;
    margin: auto; }
    @media (max-width: 1280px) {
      .store-map-content {
        width: 600px;
        position: relative;
        padding-top: 50%;
        overflow: hidden; } }
    @media (max-width: 1280px) {
      .store-map-content iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 90% !important; } }

.preferlayout {
  width: 64.5vw;
  height: 800px;
  background-color: #444444; }

.progresswidth {
  width: 1240px;
  margin: auto; }
  @media (max-width: 1280px) {
    .progresswidth {
      width: 900px;
      margin: auto; } }

.step-content {
  width: 100vw; }
  .step-content img {
    width: 100vw;
    height: 700px;
    position: absolute;
    margin-top: 100px;
    z-index: -100; }
    @media (max-width: 1280px) {
      .step-content img {
        width: 1280px; } }
  .step-content-signup {
    width: 1240px;
    margin: auto;
    margin-top: 30px;
    height: 700px; }
    @media (max-width: 1280px) {
      .step-content-signup {
        margin: auto;
        width: 900px; } }
    .step-content-signup-left {
      width: 610px;
      float: left;
      height: 100%;
      margin-right: 77px; }
      .step-content-signup-left p {
        width: 422px;
        font-family: PingFangTC;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: -0.86px;
        padding-bottom: 24px; }
      .step-content-signup-left h5 {
        width: 353px;
        font-family: PingFangTC;
        font-size: 42px;
        letter-spacing: -1.2px;
        font-weight: 300; }
      .step-content-signup-left img {
        width: 530px;
        height: 530px;
        padding-top: -20px;
        margin: 0; }
        @media (max-width: 1280px) {
          .step-content-signup-left img {
            margin: auto;
            width: 430px;
            height: 430px; } }
      @media (max-width: 1280px) {
        .step-content-signup-left {
          width: 400px; } }
    .step-content-signup-right {
      left: 50px; }
      .step-content-signup-right .wrapper {
        float: left;
        width: 552px;
        height: 700px;
        border-radius: 6px;
        -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff; }
        .step-content-signup-right .wrapper-content {
          width: 85%;
          height: 100%;
          margin: auto; }
          .step-content-signup-right .wrapper-content-button {
            width: 480px;
            height: 62px;
            background-color: #c4222a;
            color: #fff;
            margin-top: 20px;
            cursor: pointer; }
            @media (max-width: 1280px) {
              .step-content-signup-right .wrapper-content-button {
                width: 350px; } }
          .step-content-signup-right .wrapper-content-circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: solid 1px #979797;
            background-color: #d8d8d8;
            margin: auto; }
            @media (max-width: 1280px) {
              .step-content-signup-right .wrapper-content-circle {
                width: 120px;
                height: 120px;
                margin-bottom: 20px; } }
          .step-content-signup-right .wrapper-content h5 {
            height: 45px;
            margin: 40px 0 28px 0;
            font-family: PingFangTC;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: -0.64px;
            text-align: center; }
          .step-content-signup-right .wrapper-content label p {
            height: 29px;
            font-family: PingFangTC;
            font-size: 20px;
            letter-spacing: -0.42px;
            color: #444444;
            margin-bottom: 6px; }
          .step-content-signup-right .wrapper-content label .cityoption {
            float: left;
            margin-right: 15px;
            margin-bottom: 17px; }
            .step-content-signup-right .wrapper-content label .cityoption select {
              background-color: #efeded;
              color: black;
              padding: 10px;
              width: 174px;
              border: none;
              font-size: 16px;
              -webkit-appearance: button;
              -moz-appearance: button;
              appearance: button;
              outline: none; }
              .step-content-signup-right .wrapper-content label .cityoption select option {
                padding: 30px; }
              @media (max-width: 1280px) {
                .step-content-signup-right .wrapper-content label .cityoption select {
                  width: 100px; } }
            .step-content-signup-right .wrapper-content label .cityoption:hover::before {
              color: rgba(0, 0, 0, 0.6);
              background-color: rgba(0, 0, 0, 0.2); }
          .step-content-signup-right .wrapper-content label .info {
            width: 460px;
            height: 45px;
            border-radius: 3px;
            border: solid 1px #979797;
            background-color: #ffffff;
            margin-bottom: 40px;
            padding-left: 20px; }
            .step-content-signup-right .wrapper-content label .info::-webkit-input-placeholder {
              font-size: 18px;
              letter-spacing: -0.42px;
              color: #949494;
              padding-top: 15px; }
            .step-content-signup-right .wrapper-content label .info:-ms-input-placeholder {
              font-size: 18px;
              letter-spacing: -0.42px;
              color: #949494;
              padding-top: 15px; }
            .step-content-signup-right .wrapper-content label .info::-ms-input-placeholder {
              font-size: 18px;
              letter-spacing: -0.42px;
              color: #949494;
              padding-top: 15px; }
            .step-content-signup-right .wrapper-content label .info::placeholder {
              font-size: 18px;
              letter-spacing: -0.42px;
              color: #949494;
              padding-top: 15px; }
            @media (max-width: 1280px) {
              .step-content-signup-right .wrapper-content label .info {
                width: 325px; } }
        @media (max-width: 1280px) {
          .step-content-signup-right .wrapper {
            width: 415px; } }

.version-content {
  width: 65vw;
  height: 1100px;
  margin: auto; }
  .version-content-progress {
    margin-top: 60px;
    margin-bottom: 50px;
    height: 6px;
    position: relative;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px;
    border: solid 1px #979797;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
    .version-content-progress > span {
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #ff7100;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(bottom, center), color-stop(30%, #ff7100), color-stop(69%, #f36d0a));
      background-image: -webkit-linear-gradient(center bottom, #ff7100 30%, #f36d0a 69%);
      background-image: -o-linear-gradient(center bottom, #ff7100 30%, #f36d0a 69%);
      background-image: linear-gradient(center bottom, #ff7100 30%, #f36d0a 69%);
      -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden; }
      .version-content-progress > span:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
        z-index: 1;
        background-size: 50px 50px;
        overflow: hidden; }
  .version-content h5 {
    display: block;
    margin-top: 60px;
    text-align: center;
    height: 61px;
    font-family: PingFangTC;
    font-size: 43px;
    font-weight: 600;
    letter-spacing: -0.86px;
    color: #000000; }
  .version-content .blankblock {
    width: 100%;
    height: 61px;
    border: solid 1px #979797;
    background-color: #ffffff; }
  .version-content .layoutversion {
    margin-top: 50px;
    width: 30%;
    height: 224px;
    border: solid 1px #979797;
    float: left; }
    .version-content .layoutversion:not(:last-child) {
      margin-right: 3%; }
    .version-content .layoutversion:first-child {
      border: solid 14px #0091ff; }

.header-store-header2 {
  width: 100vw;
  height: 330px; }
  .header-store-header2 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }

.header-store-header3 {
  width: 100vw;
  height: 136px;
  background-color: #f9f9f9; }
  .header-store-header3-info {
    width: 65%;
    height: 100%;
    margin: auto; }
    .header-store-header3-info-img {
      width: 190px;
      float: left; }
      .header-store-header3-info-img img {
        width: 130px;
        margin-left: 20px; }
    .header-store-header3-info-title {
      width: 200px;
      height: 100%;
      float: left;
      margin-left: 30px; }
      .header-store-header3-info-title p {
        font-family: LucidaGrande;
        font-size: 25px;
        font-weight: bold;
        padding: 21px 0 8px 0px; }
      .header-store-header3-info-title .fa-star {
        color: #f79e00;
        width: 28px; }
    .header-store-header3-info-add {
      margin-left: 50px;
      width: 342px;
      font-size: 17px;
      line-height: 1.82;
      letter-spacing: normal;
      float: left;
      padding-top: 20px; }
      .header-store-header3-info-add span {
        color: red; }

.header-store-header4 {
  width: 100vw;
  height: 85px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-bottom: solid 4px #f79e00; }
  .header-store-header4 .tab {
    width: 65%;
    margin: auto;
    overflow: hidden;
    /* Style the buttons inside the tab */ }
    .header-store-header4 .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 30px 16px;
      font-weight: 500;
      font-size: 16px;
      /* Change background color of buttons on hover */
      /* Create an active/current tablink class */ }
      .header-store-header4 .tab button:first-child {
        color: #fa6400; }
        .header-store-header4 .tab button:first-child:hover {
          color: #fff;
          background-color: #fa6400; }
      .header-store-header4 .tab button:hover {
        background-color: #fa6400;
        border-bottom: 3px solid #fa6400;
        color: #fff;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .header-store-header4 .tab button.active {
        background-color: #ccc; }

.storemenu {
  width: 1230px;
  height: 700px;
  margin: auto; }
  .storemenu .menudetail {
    width: 785px;
    height: 650px;
    background-color: #ccc;
    float: left; }
    .storemenu .menudetailtop h5 {
      padding-top: 48px;
      padding-bottom: 22px;
      font-size: 30px;
      font-size: 28px;
      font-weight: normal;
      color: #444444; }
    .storemenu .menudetailtop .dish {
      width: 367px;
      height: 160px;
      background-color: #efeded;
      margin: 0 24px 24px 0;
      float: left; }
      .storemenu .menudetailtop .dish .dishinfo {
        width: 55%;
        float: left;
        padding: 12px; }
        .storemenu .menudetailtop .dish .dishinfo h3 {
          color: #444444;
          font-size: 18px; }
        .storemenu .menudetailtop .dish .dishinfo p {
          font-size: 14px;
          color: #6d7278; }
        .storemenu .menudetailtop .dish .dishinfo h4 {
          padding-top: 20px;
          font-size: 18px;
          font-weight: 500;
          color: #444444; }
        .storemenu .menudetailtop .dish .dishinfo i {
          color: #f5a623; }
          .storemenu .menudetailtop .dish .dishinfo i:first-child {
            padding-left: 12px; }
      .storemenu .menudetailtop .dish .dishinfoimg {
        width: 38.4%;
        height: 100%;
        float: left; }
        .storemenu .menudetailtop .dish .dishinfoimg img {
          width: 100%;
          height: 100%;
          float: left; }
  .storemenu .shoppingcart {
    width: 400px;
    height: 113px;
    margin-top: 61px;
    border-radius: 6px;
    -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    float: left; }
    .storemenu .shoppingcart h5 {
      width: 100px;
      height: 28px;
      font-family: PingFangTC;
      font-size: 20px;
      padding: 16px; }
    .storemenu .shoppingcart button {
      width: 345px;
      height: 40px;
      border-radius: 6px;
      border: solid 1px #cfcfcf;
      background-color: #c4222a;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      margin-left: 25px; }
      .storemenu .shoppingcart button fa-angle-down {
        color: #fff; }
  .storemenu .receipt {
    height: 501px; }
    .storemenu .receipt h5 {
      width: 168px;
      margin: auto;
      letter-spacing: 20px;
      font-size: 22px;
      font-weight: normal; }
    .storemenu .receipt button {
      width: 345px;
      height: 40px;
      border-radius: 6px;
      border: solid 1px #cfcfcf;
      background-color: #fa6400;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      margin-left: 25px;
      letter-spacing: 4.57px; }
      .storemenu .receipt button fa-angle-down {
        color: #fff; }

.footer {
  width: 100vw;
  height: 120px;
  background-color: #444444;
  bottom: -50px;
  font-size: 18px; }
  .footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0; }
  .footer-wrap {
    width: 95%;
    background-color: #d8d8d8;
    margin: auto;
    line-height: 120px; }
    @media (max-width: 1280px) {
      .footer-wrap {
        font-size: 0.778em; } }
    @media (max-width: 1736px) {
      .footer-wrap {
        font-size: 0.889em; } }
    .footer-wrap-logo {
      width: 194px;
      height: 120px;
      float: left;
      margin-right: 40px; }
      .footer-wrap-logo img {
        margin-top: 38px;
        margin-right: 58.7px; }
    .footer-wrap-textleft {
      width: 252px;
      float: left;
      text-decoration: underline; }
      .footer-wrap-textleft a {
        color: #fff;
        text-decoration: none; }
      @media (max-width: 1280px) {
        .footer-wrap-textleft {
          display: none; } }
    .footer-wrap-textmiddle {
      width: 630px;
      float: left;
      color: #fff;
      margin-left: 50px;
      text-align: center; }
      @media (max-width: 1736px) {
        .footer-wrap-textmiddle {
          margin-left: 4em;
          width: 35em; } }
    .footer-wrap-imgright {
      width: 127px;
      float: right;
      height: 120px;
      margin-right: 1%; }
      @media (max-width: 1192px) {
        .footer-wrap-imgright {
          display: none; } }
      .footer-wrap-imgright img {
        margin: 40px 10px 0 10px; }

html, * {
  margin: 0px;
  padding: 0;
  font-family: PingFangTC, sans-serif;
  font-size: 100%; }
