html, body {
  margin: 0;
  padding: 0;
  font-family: "PingFangTC", sans-serif; }

.header {
  width: 100vw;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px; }

nav a {
  color: inherit;
  text-decoration: none; }

.logo {
  height: 50px;
  padding: 25px 25px 25px;
  position: relative; }

nav > ul {
  list-style: none;
  display: inline-block; }

nav > ul > li {
  display: inline-block;
  padding: 15px; }

.FAQ {
  font-size: 24px;
  padding-right: 10px;
  float: left; }

.header_button {
  float: right;
  line-height: 100px;
  padding: 28px 0; }

.header_button button {
  float: left;
  margin-right: 40px;
  font-size: 18px;
  width: 147px;
  height: 44px;
  border-radius: 70px;
  color: white;
  box-shadow: 2px 2px 4px 0 rgba(0, 145, 255, 0.25);
  cursor: pointer;
  border: none; }

.login {
  background-color: #00c5dc; }

.signup {
  background-color: #0091ff; }

.banner {
  height: 474px;
  width: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/bannerbw.jpg);
  position: relative; }

.banner_text h3 {
  position: absolute;
  height: 70px;
  color: #fff;
  top: 104px;
  left: 340px;
  font-size: 50px; }

label img {
  position: absolute;
  left: 60vw;
  top: 245px;
  cursor: pointer; }

.searchbox {
  width: 44.5vw;
  height: 70px;
  border-radius: 3px;
  border: solid 1px #979797;
  background-color: #ffffff;
  position: absolute;
  left: 340px;
  top: 224px; }

.banner_text input[type=text] {
  padding-left: 21px;
  font-size: 21px; }

.searchbox::placeholder {
  font-size: 21px;
  letter-spacing: -0.42px;
  color: #949494;
  padding-top: 21px; }

.searchbutton {
  left: 65vw;
  top: 224px;
  position: relative;
  width: 12.8vw;
  height: 70px;
  border-radius: 6px;
  border: solid 1px #979797;
  background: #c4222a;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  border: none; }

.sectionbar {
  width: 100vw;
  height: 85px;
  background-color: #c4222a; }

.sectionbar_content {
  width: 65vw;
  margin: auto; }

.sectionbar_content > ul {
  list-style: none;
  display: inline-block; }

.taiwan {
  box-shadow: 0 2px;
  border-radius: 2px;
  color: #fff;
  padding-bottom: 5px; }

.sectionbar_content > ul > li {
  display: inline-block;
  padding: 15px;
  padding-right: 10px;
  color: #fff;
  font-size: 17px; }

.sectionbar_content > img {
  transform: translateY(30%); }

.sectionfood {
  width: 100vw;
  height: 1195; }

.sectionfood_text {
  width: 65vw;
  margin: 0 auto;
  height: 300px; }

.borderred {
  width: 600px;
  box-shadow: 0 5px;
  border-radius: 1px;
  color: #c4222a;
  padding-bottom: 25px; }

.sectionfood_text p {
  font-family: PingFangTC;
  font-size: 50px;
  letter-spacing: 1px;
  color: #000000;
  padding-bottom: -20px;
  margin-top: 50px;
  line-height: 24px;
  display: block; }

.sectionfood_text .left {
  width: 50%;
  float: left;
  font-size: 30px;
  color: #6d7278;
  margin-top: 41px; }

.sectionfood_text .right {
  text-align: right;
  width: 50%;
  float: left;
  font-size: 30px;
  color: #c4222a;
  margin-top: 41px;
  font-family: Futura;
  text-decoration: underline; }

.sectionfood_text .right a {
  text-decoration: underline;
  color: #c4222a; }

.section_store {
  width: 65vw;
  margin: auto; }

.section_store .store {
  width: 380px;
  height: 430px;
  float: left; }

.section_store .store:not(:last-child) {
  margin-right: 2.5vw; }

.section_store .item {
  width: 100%;
  height: 242px;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin: 0 0 9px 0;
  float: left; }

.store_info h1 {
  font-size: 16px; }

.store_info h2 {
  font-size: 12px; }

.store_info p {
  color: #6d7278;
  font-size: 14px; }

.deliverytime {
  width: 90px;
  height: 28px;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin-right: 8px;
  font-size: 12px;
  float: left;
  text-align: center; }

.stars {
  width: 90px;
  height: 28px;
  border-radius: 2px;
  background-color: #f5f5f5;
  font-size: 12px;
  float: left;
  text-align: center; }

.section_store {
  width: 65vw;
  height: 430px;
  margin: auto; }

.section_store .highheight {
  height: 505px; }

.sectionbar_greyback {
  width: 100vw;
  height: 228px;
  background-color: #444444;
  margin-top: 153px; }

.sectionbar_content_text {
  width: 60%;
  float: left; }

.sectionbar_content_text p {
  font-size: 45px;
  color: #fff;
  margin-top: 28px;
  margin-bottom: 32px;
  letter-spacing: -.9;
  font-weight: 300; }

.applink {
  margin-right: 48px;
  cursor: pointer; }

.sectionbar_content_img {
  width: 40%;
  float: left; }

.sectionbar_content_img img {
  margin-top: -150px;
  z-index: 100; }

.section_store_new {
  margin-top: 77px;
  margin-bottom: 24px;
  font-size: 30px; }

.seperateline {
  width: 100vw;
  height: 1px;
  border: solid 1px #979797;
  color: #979797;
  margin-top: 78px; }

.section_store_special p {
  color: #6d7278;
  margin-top: 100px;
  font-size: 50px; }

.sectionbar_redback {
  width: 100vw;
  height: 257px;
  background-color: #c4222a;
  margin-top: 132px; }

.sectionbar_content_text1 {
  width: 70%; }

.sectionbar_content_text1 h5 {
  font-size: 50px;
  color: #fff;
  font-weight: 300;
  margin: 0 0 29px 0;
  padding-top: 26px; }

.sectionbar_content_text1 p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  float: left;
  margin-top: 0; }

.sectionbar_content_text1 button {
  width: 285px;
  height: 70px;
  box-shadow: 5px 5px 4px 3px rgba(247, 158, 0, 0.46);
  background-color: #f5a623;
  border: none;
  font-size: 18px;
  color: #fff;
  float: left;
  margin-right: 28px;
  border-radius: 5px; }

.sectionbar_content .sectionbar_content_img {
  width: 30%;
  float: left;
  margin-top: -30px; }

.sort {
  width: 65vw;
  height: 800px;
  margin: auto; }

/*.explorewrap{
    width:65vw;
    height:300px;
    margin:auto;
    background-color:#949494;
    opacity: .9;
}*/
.box .sortfood {
  width: 20.5%;
  height: 300px;
  float: left;
  border-radius: 8px; }

.box .sortfood:not(:last-child) {
  margin: 0 6% 90px 0; }

.section_store_new .grey {
  color: #6d7278; }

.sortfood .littleimg {
  width: 100%;
  height: 80%;
  background-color: #c4222a;
  margin: 0;
  border-radius: 8px; }

.sortfood p {
  text-align: center;
  font-size: 24px;
  margin-top: 10px; }

footer {
  width: 100vw;
  height: 135px;
  background-color: #444444;
  color: #fff;
  font-size: 18px;
  position: relative; }

.firstsec {
  width: 15%;
  float: left; }

.secondsec {
  width: 15%;
  float: left; }

.thirdsec {
  width: 60%;
  float: left; }

.fouthsec {
  width: 10%;
  float: left; }

footer .footerlogo {
  position: absolute;
  left: 140px;
  padding-top: 46px; }

.footer a {
  float: left;
  text-decoration: none;
  color: #fff;
  margin-right: 45px;
  left: 100px; }

.littleimg img {
  height: 257px; }
