@mixin respond-phone($breakpoint){
    @if $breakpoint == tab{
        @media (max-width:1192px) { @content };
    }
    @if $breakpoint == desktop{
        @media (max-width:1280px) { @content };
    }
    @if $breakpoint == big-desktop{
        @media (max-width:1736px) { @content };
    }
}
@mixin center{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
@mixin progressbar{
    &-progress{
        margin-top:60px;
        margin-bottom:50px;
        height: 6px; 
        position: relative;
        background: #fff;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 0px;
        border: solid 1px #979797;

        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);;

        & > span {
            display: block;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #ff7100;
            background-image: linear-gradient(
              center bottom,
              #ff7100 30%,
              #f36d0a 69%
            );
            box-shadow: 
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                background-image: linear-gradient(
                  -45deg, 
                  rgba(255, 255, 255, .2) 25%, 
                  transparent 25%, 
                  transparent 50%, 
                  rgba(255, 255, 255, .2) 50%, 
                  rgba(255, 255, 255, .2) 75%, 
                  transparent 75%, 
                  transparent
                );
                z-index: 1;
                background-size: 50px 50px;
                overflow: hidden;
              }
          }
    }

}