$color-primary-red:#c4222a;
$color-secondary-red:#a01a21;
$color-tertiary-red:#e02020;
$color-blue-light:#00c5dc;
$color-blue-light-hover:#08bace;
$color-blue-dark:#0091ff;
$color-blue-dark-hover:#006fc4;
$color-white:#fff;
$color-grey-light:#949494;
$color-grey:#979797;
$color-grey-dark:#6d7278;
$color-grey_box:#f5f5f5;
$color-grey-verydark:#444444;
$color-black:#000;
$color-orange-light:#f5a623;
$color-orange-light-hover:#df8a03;
$color-orange-dark:#ff7100;
$color-orange-dark-hover:#db6300;




@import "abstracts/mixins";
@import "layout/header";
@import "layout/body";
@import "layout/footer";

html, *{
    margin:0px;
    padding:0;
    font-family: PingFangTC, sans-serif;
    font-size:100%;
}

