.sectionbar{
    width:100vw;
    height: 85px;
    background-color: $color-primary-red;

    &_content{
        width:70vw;
        margin-left:17.5vw;

        & > ul {
            list-style: none;  
            display: inline-block;
           
            & > li{
                padding-top: 30px;
                padding-right: 10px;
                color:$color-white;
                font-size: 17px;
                @include respond-phone(desktop){
                    font-size: 16px;
                }              
            }       
               
        }
        & > img{
            transform: translateY(30%);
        }
    }
}
.sectionfood{
    width:100vw;
    height:1195;

    &_text{
        width:65vw;
        margin:0 auto;
        height:300px;

        & .left{
            width:50%;
            float:left;
            font-size: 30px;
            color: $color-grey-dark;
            margin-top:41px;
            @include respond-phone(big-desktop){
                font-size:20px;
            }
        }
        &.right{
            text-align: right;
            width:50%;
            float:left;
            font-size: 30px;
            color: $color-primary-red;
            margin-top:41px;
            font-family:Futura;
            text-decoration: underline;
            & a{
                text-decoration: underline;
                color:$color-primary-red;
            }
        }
    }
    &_text p{
        font-family: PingFangTC;
        font-size: 50px;
        letter-spacing: 1px;
        color: #000000;
        padding-bottom: -20px;
        margin-top:50px;
        line-height: 24px;
        display:block;
    }
}

.section_store{
    width:65vw;
    margin:auto;

    & .section_store_newshortgrey{
        color:$color-grey-dark;
        font-size:30px;
        margin:35px 0 24px 0;
    }

    & .store{
        width: 19.8vw;
        height:430px;
        float:left;
        &:not(:last-child){
            margin-right:2.5vw;
        }
        &_info h1{
            font-size:16px;
            line-height:25px;
        }
        &_info h2{
            font-size:12px;
            line-height:23px;

        }
        &_info p{
            color: $color-grey-dark;
            font-size:14px;
            line-height:37px;
        }
    }
    & .item{
        width: 100%;
        height: 242px;
        border-radius: 5px;
        background-color: #d8d8d8;
        margin:0 0 .6vw 0;
        float:left;
        /*@include respond-phone(big-desktop){
            width: 200px;
            height:200px;
            margin-right:5px;
        }*/
    }
    & .deliverytime{
        width: 90px;
        height: 28px;
        border-radius: 2px;
        background-color: $color-grey_box;
        margin-right:8px;
        font-size:12px;
        float:left;
        text-align: center;
        line-height:28px;
    }
    & .stars{
        width: 90px;
        height: 28px;
        border-radius: 2px;
        background-color: $color-grey_box;
        font-size:12px;
        float:left;
        /*&:not(:img){
            display: flex;
        }
        */
    }
}

.sectionbar{
    width:100vw;
    &_greyback{
        height: 228px;
        background-color: $color-grey-verydark;
        margin-top:153px;
    }
    &_redback{
        height: 257px;
        background-color: $color-primary-red;
        margin-top:132px;
    }
    &_content{
        &_text{
        width:60%;
        float: left;

        @include respond-phone(desktop){
            width:500px;
        }
            & p{
                font-size:280%;
                color:$color-white;
                margin-top:28px;
                margin-bottom: 26px;
                letter-spacing:-.9;
                font-weight: 300;
                line-height:55px;
                @include respond-phone(desktop){
                    font-size:32px;
                    
                }
            }
        }
    }
}

.applink{
    margin-right:2.4vw;  
    cursor: pointer;
    width:41.5%;
    @include respond-phone(desktop){
        width:210px;
        float:left;
        margin-right:30px;  
        padding-top:20px;
    }
}
.sectionbar_content_img img{
    float: left;
    margin-top:-80px;
    @include respond-phone(desktop){
        width:350px;
        margin-top:-30px;
        margin-left:-30px;
        position: absolute;
    }
    @include respond-phone(tab){
        display: none;
    }
}

.seperateline{
    width: 100vw;
    height: 1px;
    background-color: $color-grey;
    margin-top:78px;
}
.section_store_special p{
    color: $color-grey-dark;
    margin-top:100px;
    font-size:50px;
}
.sectionbar_content{
    &_title{
        width:70%;
        @include respond-phone(desktop){
            padding-top:30px;
            width:610px;
        }
        & h5{
            font-size:50px;
            color:$color-white;
            font-weight: 300;
            margin:0 0 29px 0;
            padding-top:26px;
            clear: both;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            @include respond-phone(desktop){
                font-size:34px;
            }
        }
        & p{
            font-size:20px;
            font-weight: 300;
            color:$color-white;
            float:left;
            margin-top:0;
            @include respond-phone(desktop){
                font-size:14px;
            }
        }
        & button{
            width: 30%;
            height: 70px;
            box-shadow: 5px 5px 4px 3px rgba(247, 158, 0, 0.46);
            background-color: #f5a623;
            border:none;
            font-size:18px;
            color:$color-white;
            float:left;
            margin-right:28px;
            border-radius: 5px;
            @include respond-phone(desktop){
                width: 180px;
                height: 50px;
            }
        }
    }
    & .onlinefood{
        width:100%;
        margin-top:-130px;
        @include respond-phone(desktop){
            width:280px;
            margin-top:-100px;
            
        }
    }
}
.sort{
    width:65vw;
    height:800px;
    margin:auto;
    & .section_store_newgrey{
        color:$color-grey-dark;
        font-size: 30px;
        margin:90px 0 24px 0;
    }
}

.box .sortfood{
    width:20.5%;
    height:300px;
    float:left;
    border-radius: 8px;
}
.box .sortfood:not(:last-child){
    margin: 0 6% 80px 0;

}
.section_store_new .grey{
    color:$color-grey-dark;

}
.sortfood .littleimg{
    width:100%;
    height:80%;
    background-color: $color-primary-red;
    margin:0;
    border-radius: 8px;
}
.sortfood p{
    text-align: center;
    font-size: 24px;
    margin-top:10px;
}



.intro_body{
    width:64.5vw;
    margin:auto;
    padding-bottom: 100px;

}
.intro_body_one{
    width:100%;
    height:400px;
    position: relative;
    top:186px;
    margin-bottom:40px;
    @media screen and (max-width: 1410px) {
        margin-bottom:20px;
    }
    &_text{
        width:55%;
        float:left;
        

        h4{
            font-size:50px;
            font-weight: 400;
            @media screen and (max-width: 1410px) {
                font-size:35px;
                width:458px;
            }
        }
        p{
            width:490px;
            font-size:30px;
            padding-top:45px;
            @media screen and (max-width: 1410px) {
                font-size:26px;
                width:400px;

            }
        }
    }
    &_img{
        width:45%;
        float:left;
        img{
            width:612px;
            margin-top:-150px;
            @media screen and (max-width: 1410px) {
                width:412px;
                margin-top:-80px;
            }
        }
    }
    
}
.intro_body_two{
    width:100%;
    height:755px;
    position: relative;
    top:280px;
    margin-bottom:40px;

    &_sub{
        width:46%;
        height:400px;
        float:left;
            &:not(:last-child){
                margin-right: 7%;
            }
        & img{
            width:100%;
            height:385px;
        }
        & h4{
            font-size:38px;
            font-weight: 400;
            margin-bottom:43px;
            @media screen and (max-width: 1410px) {
                font-size:30px;
            }
            @media screen and (max-width: 1150px) {
                width: 300px; 
            }
        }
        & p{
            font-size:24px;
            font-weight: 400;
            line-height: 2;
            @media screen and (max-width: 1410px) {
                font-size:22px;
            }
            @media screen and (max-width: 1150px) {
                width: 300px; 
                overflow: hidden;
            } 
            
        }
        & .littlefont p{
            font-size:22px;
            line-height: 1.73;
            @media screen and (max-width: 1410px) {
                font-size:20px;
            } 
            @media screen and (max-width: 1150px) {
                width: 400px; 
                overflow: hidden;
                white-space: nowrap; 
            } 
        }
    }
}
.intro_body_three{
    width:100%;
    height:1000px;
    position: relative;
    top:380px;
    margin-bottom:300px;
    & .three-title{
        width:655px;
        margin:auto;
    }
    & h4{
        width:653px;
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        border-bottom: 5px solid $color-primary-red;
    }
    & h5{
        width:800px;
        color: #531a1a;
        font-size:28px;
        text-align: center;
        font-weight: 400;
        margin:auto;
        &:not(:last-child){
            padding-top:40px;
        }
    }
    #content {
        margin: 57px auto;
        text-align: center;
        width: 990px;
        height:474px;
        & .content_wrap{
            margin:0 auto;
            & .space{
                margin-top:49px;
            }
        }
        & p {
            font-weight: 400;
            line-height: 30px;
            font-size: 24px;
            letter-spacing: -0.48px;
        }
        & .circle {
            border-radius: 50%; 
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
            color: #000;
            font-size: 16px;
            margin: 0 60px;
            float:left;
            line-height: 165px;
            width: 165px;
            height: 165px;    
            font-size: 50px;
            font-weight: 400;
        }
          
        & .blue {
            border: solid 10px rgba(224, 31, 31, 0.3);
            margin-top:75px;
        }
        & .green {
            line-height:240px; 
            width: 240px;
            height: 240px;
            border: solid 10px rgba(245, 155, 0, 0.3);
            font-size: 70px;
        }
        & .red {
            border: solid 10px rgba(51, 197, 255, 0.3);
            margin-top:75px;
        }
    }
}

.intro_ads{
    width:100%;
    height:270px;
    position: relative;
    background-color: #ffdc7d;

    &_wrap{
        width:64.5%;
        background-color: antiquewhite;
        margin:auto;

        &_text{
            width:63%;
            float:left;
            padding-top:41px;

            h5{
                font-size: 50px;
                letter-spacing: -1px;
                padding-bottom:24px;
                @media screen and (max-width: 1430px) {
                    width: 450px; 
                    font-size: 44px;
                    overflow: hidden;
                } 
            }
            p{            
                font-size: 29px;
                letter-spacing: -0.58px;
                @media screen and (max-width: 1430px) {
                    width: 500px; 
                    font-size: 27px;
                    overflow: hidden;
                } 
            }
        }
        &_img{
            width:37%;
            float:left;
            & img{
                height: 397px;
                object-fit: contain;
                margin-top:-130px;
                margin-left:-70px;
                @media screen and (max-width: 1430px) {
                    height: 300px;
                    margin-top:-50px;
                } 
            }
        }
    }
}
.intro_body_four{
    width:100%;
    height:581px;
    padding-top:119px;
    &_img{
        width:48%;
        float:left;
        margin-right:4%;

        & img{
            width:504px;
            height:504px;
            object-fit: fill;
            margin-right:50px;
            @media screen and (max-width: 1630px) {
                width:424px;
                height:424px;
            } 
        }
    }
    &_text{
        width:48%;
        float:left;
        & h5{
            width: 615px;
            font-size: 50px;
            letter-spacing: -1px;
            font-weight:400;
            color: #000000;
            @media screen and (max-width: 1630px) {
                font-size:40px;
            } 
            @include respond-phone(desktop){
                font-size:32px;
                margin-left:100px;
            }
        }
        & p{
            width: 500px;
            font-family: PingFangTC;
            font-size: 50px;
            font-weight: normal;
            letter-spacing: -1px;
            color: #000000;
            margin-top:29px;
            @media screen and (max-width: 1630px) {
                font-size:40px;
                width: 340px;
            } 
            @include respond-phone(desktop){
                font-size:32px;
                margin-left:100px;
            }
        }
        & button{
            display: inline-block;
            width:180px;
            margin-top:45px;
            color:$color-tertiary-red;
            font-family: LucidaGrande;
            font-size: 30px;
            border:none;
            line-height: 1.67;
            transition:all .2s;
            outline:none;
            margin-left:-10px;

            &:hover{
                background-color:$color-tertiary-red;
                border-radius: 80px;
                color:$color-white;
                box-shadow: 0 10px 20px rgba($color-black, .15);
            }
            &:active{
                box-shadow: 0 5px 10px rgba($color-black, .15);
                border-radius: 80px;

                transform: translateY(-2px);

            }
            @include respond-phone(desktop){
                font-size: 22px;
                margin-left:100px;
            }
        }

    }
}
//store product page
.product-intro{
    height: 530px;
    width:1070px;
    margin:auto;
    @include respond-phone(desktop){
        width:800px;  
    }
    h5{
        margin:auto;
        display: block;
        width: 177px;
        height: 42px;
        margin-top:45px;
        margin-bottom:55px;
        font-size: 30px;
        font-weight: 600;
        
    }
    &-content{
        width:100%;
        & img{
            width: 519px;
            height: 329px; 
            float:left; 
            @include respond-phone(desktop){
                width:400px;  
                height: 274px; 
            }
        }    
        & p{
            width: 510px;
            line-height: 1.85;
            font-size:26px;
            color: #444444;
            margin-left:34px;
            display: inline-block;
            @include respond-phone(desktop){
                width: 320px;
                line-height: 1.45;
                font-size:22px;

            }
        }
    }
}
.store-map{
    width:100%;
    height:710px;
    background-color: $color-grey-box;

    & h5{
        margin:auto;
        display: block;
        width: 177px;
        height: 42px;
        padding-top:36px;
        margin-bottom:36px;
        font-size: 30px;
        font-weight: 600;
    }

    &-content{
        width:1120px;
        margin:auto;
        @include respond-phone(desktop){
            width:600px;
            position: relative; 
            padding-top: 50%; // This is the aspect ratio 
            overflow: hidden;
        }
        & iframe{
            @include respond-phone(desktop){
                position: absolute; 
                top: 0; 
                left: 0; 
                width: 100% !important; 
                height: 90% !important; 
            }
        }
    }
}
//step1

.preferlayout{
    width:64.5vw;
    height:800px;
    background-color: #444444;
}
.progresswidth{
    width:1240px;
    margin:auto;
    @include respond-phone(desktop){
        width:900px;
        margin:auto; 
    }
}
.step-content{
    width:100vw;
    & img{
        width:100vw;
        height:700px;
        position: absolute;
        margin-top:100px;
        z-index: -100;
        @include respond-phone(desktop){
            width:1280px;
        }
    }
    &-signup{
        width:1240px;
        margin:auto;
        margin-top:30px;
        height:700px;

        @include respond-phone(desktop){
            margin:auto;
            width:900px;
        }
        &-left{
            width:610px;
            float:left;
            height:100%;
            margin-right:77px;
            & p{
                width: 422px;
                font-family: PingFangTC;
                font-size: 32px;
                font-weight: 600;
                letter-spacing: -0.86px;
                padding-bottom:24px;
            }
            & h5{
                width: 353px;
                font-family: PingFangTC;
                font-size: 42px;
                letter-spacing: -1.2px;
                font-weight: 300;
            }
            & img{
                width:530px;
                height:530px;
                padding-top:-20px;
                margin:0;
                @include respond-phone(desktop){
                    margin:auto;
                    width:430px;
                    height:430px;                
                }
            }
            @include respond-phone(desktop){
                width:400px;                
            }
        }
        &-right{
            left:50px;
            .wrapper{
                float:left;
                width:552px;
                height:700px;
                border-radius: 6px;
                box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;    
                &-content{
                    width:85%;
                    height:100%;
                    margin:auto;

                    &-button{
                        width: 480px;
                        height: 62px;
                        background-color: #c4222a;
                        color:$color-white;
                        margin-top:20px;
                        cursor: pointer;
                        @include respond-phone(desktop){
                            width: 350px;
                        }
                    }
                    &-circle{
                        width:150px;
                        height:150px;
                        border-radius:50%;
                        border: solid 1px #979797;
                        background-color: #d8d8d8;
                        margin:auto;
                        @include respond-phone(desktop){
                            width:120px;
                            height:120px;
                            margin-bottom:20px;
                        }
                    }
                    & h5{
                        height: 45px;
                        margin:40px 0 28px 0;
                        font-family: PingFangTC;
                        font-size: 32px;
                        font-weight: 400;
                        letter-spacing: -0.64px;
                        text-align:center;
                    }
                    & label{
                        & p{
                            height: 29px;
                            font-family: PingFangTC;
                            font-size: 20px;
                            letter-spacing: -0.42px;
                            color: #444444;
                            margin-bottom:6px;
                        }

                    & .cityoption {       
                        float:left;
                        margin-right:15px;
                        margin-bottom:17px;                
                        & select {
                            background-color: #efeded;
                            color: black;
                            padding: 10px;
                            width: 174px;
                            border: none;
                            font-size: 16px;
                            -webkit-appearance: button;
                            appearance: button;
                            outline: none;
                            & option {
                                padding: 30px;
                            }
                            @include respond-phone(desktop){
                                width: 100px;                
                            }
                        }
                        
                        &:hover::before {
                            color: rgba(0, 0, 0, 0.6);
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                    }
                        & .info{
                            width: 460px;
                            height: 45px;
                            border-radius: 3px;
                            border: solid 1px #979797;
                            background-color: #ffffff;
                            margin-bottom:40px;
                            padding-left:20px;
                            &::placeholder{
                                font-size: 18px;
                                letter-spacing: -0.42px;
                                color: $color-grey-light;
                                padding-top:15px;
                            }
                            @include respond-phone(desktop){
                                width: 325px;                
                            }
                        }
                    }                  
                }
                @include respond-phone(desktop){
                    width:415px;                
                }
            }      
        }
    }
}
//layoutversion 
.version-content{
    width:65vw;
    height:1100px;
    margin:auto;
    @include progressbar;
    & h5{
        display:block;
        margin-top:60px;
        text-align: center;
        height: 61px;
        font-family: PingFangTC;
        font-size: 43px;
        font-weight: 600;
        letter-spacing: -0.86px;
        color: #000000;
    }
    & .blankblock{
        width: 100%;
        height: 61px;
        border: solid 1px #979797;
        background-color: #ffffff;
    }
    & .layoutversion{
        margin-top:50px;
        width: 30%;
        height: 224px;
        border: solid 1px #979797;
        float:left;

        &:not(:last-child){
            margin-right:3%;
        }
        &:first-child{
            border: solid 14px #0091ff;

        }
    }
}

//homepage
.header-store-header2{
    width:100vw;
    height:330px;
    & img{
        height:100%;
        width:100%;
        background-size: cover;
        object-fit: cover;
    }
}
.header-store-header3{
    width:100vw;
    height:136px;
    background-color: #f9f9f9;
    &-info{
        width:65%;
        height:100%;
        margin:auto;

        &-img{
            width:190px;
            float:left;

            & img{
                width:130px;
                margin-left:20px;
            }
        }
        &-title{
            width:200px;
            height:100%;
            float:left;
            margin-left:30px;
            & p{
                font-family: LucidaGrande;
                font-size: 25px;
                font-weight: bold;
                padding:21px 0 8px 0px;
              
            }
            & .fa-star{
               color:#f79e00;
               width:28px;
            }
        }
        &-add{
            margin-left:50px;
            width: 342px;
            font-size: 17px;
            line-height: 1.82;
            letter-spacing: normal;
            float:left;
            padding-top:20px;
            
            & span{
                color:red;
            }
        }
    }
}       
.header-store-header4{
    width:100vw;
    height: 85px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-bottom: solid 4px #f79e00;
    & .tab {
        width:65%;
        margin:auto;
        overflow: hidden;
        /* Style the buttons inside the tab */
        & button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 30px 16px;
            font-weight: 500;
            font-size: 16px;
            &:first-child{
                color:#fa6400;
                &:hover{
                    color:$color-white;
                    background-color: #fa6400;
                }
            }

            /* Change background color of buttons on hover */
            &:hover {
                background-color: #fa6400;
                border-bottom: 3px solid #fa6400;
                color:$color-white;
                transition:.3s;
              }
            /* Create an active/current tablink class */
            &.active {
                background-color: #ccc;
            }
        }
    }
}
.storemenu{
    width:1230px;
    height:700px;
    margin:auto;

    & .menudetail{
        width:785px;
        height:650px;
        background-color: #ccc;
        float:left;

        &top{
            h5{
                padding-top:48px;
                padding-bottom:22px;
                font-size:30px;
                font-size: 28px;
                font-weight: normal;
                color: #444444;   
            }
            & .dish{
                width:367px;
                height:160px;
                background-color:#efeded;
                margin:0 24px 24px 0;
                float:left;

                & .dishinfo{
                    width:55%; 
                    float:left;
                    padding:12px;

                    & h3 {
                        color: #444444;
                        font-size: 18px;
                    }
                    & p{
                        font-size: 14px;
                        color: #6d7278;
                    }

                    & h4{
                        padding-top: 20px;
                        font-size: 18px;
                        font-weight: 500;
                        color: #444444;
                    }

                    & i{
                        &:first-child{
                            padding-left:12px;

                        }
                        color:#f5a623;
                    }
                }

                & .dishinfoimg{
                    width:38.4%;
                    height:100%;
                    float:left;
                    & img{
                        width:100%;
                        height:100%;
                        float:left;
                    }
                }
            }
        }
    }

    & .shoppingcart{
        width: 400px;
        height: 113px;
        margin-top:61px;
        border-radius: 6px;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        float:left;
        & h5{
            width: 100px;
            height: 28px;
            font-family: PingFangTC;
            font-size: 20px;
            padding:16px;
        }

        & button{
            width: 345px;
            height: 40px;
            border-radius: 6px;
            border: solid 1px #cfcfcf;
            background-color: #c4222a;
            color:$color-white;
            font-size: 17px;
            font-weight: 500;
            margin-left:25px;
            & fa-angle-down{
                color:$color-white;
            }
        }
        
    }
    & .receipt{
        height: 501px;
        & h5{
            width: 168px;
            margin:auto;
            letter-spacing: 20px;
            font-size: 22px;
            font-weight: normal;
        }
        & button{
            width: 345px;
            height: 40px;
            border-radius: 6px;
            border: solid 1px #cfcfcf;
            background-color: #fa6400;
            color:$color-white;
            font-size: 17px;
            font-weight: 500;
            margin-left:25px;
            letter-spacing: 4.57px;

            & fa-angle-down{
                color:$color-white;
            }
        }
    }
}
