.footer{
    width:100vw;
    height:120px;
    background-color: $color-grey-verydark;
    bottom: -50px;
    font-size:18px;

    &-fixed{
        position:fixed;
        left:0;
        bottom:0;
    }
    &-wrap{
        width:95%;
        background-color: #d8d8d8;
        margin:auto;
        line-height:120px;
        @include respond-phone(desktop){
            font-size:0.778em;
        }
        @include respond-phone(big-desktop){
            font-size:0.889em;
        }

        &-logo{
            width: 194px;
            height: 120px;
            float:left;
            margin-right: 40px;

            & img{
                margin-top:38px;
                margin-right:58.7px;
            }
        }
        
        &-textleft{
            width:252px;
            float:left;
            text-decoration:underline;
            & a{
                color:$color-white;
                text-decoration: none;
            }
            @include respond-phone(desktop){
                display:none;
            }
        }

        &-textmiddle{
            width:630px;
            float:left;
            color:$color-white;
            margin-left:50px;
            text-align: center;
            @include respond-phone(big-desktop){
                margin-left:4em;
                width:35em;

            }
        }

        &-imgright{
            width:127px;
            float:right;
            height:120px;
            margin-right:1%;
            @include respond-phone(tab){
                display:none;
            }
            & img{
                margin:40px 10px 0 10px;
            }
        }
    }
}
